{% extends "base.html" %}
{% block content %}

<form method="GET">
    <input name="q" value="{{ query }}">
    <button type="submit">Hae</button>
</form>

{% for car in cars %}
<p>
<a href="/car/{{ car.id }}">{{ car.brand }} {{ car.model }}</a>
({{ car.year }}) Arvosana:  {{ car.rating }}
Lisännyt: <a href="/user/{{ car.user_id }}">{{ car.username }}</a>

{% if car.user_id == session.user_id %}
<a href="/edit/{{ car.id }}">Muokkaa</a>
<form action="/delete/{{ car.id }}" method="POST" style="display:inline;">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<button type="submit">Poista</button>
</form>
{% endif %}
</p>
{% endfor %}

{% endblock %}